tunnel: replace-with-tunnel-uuid
credentials-file: /home/user/.cloudflared/replace-with-tunnel-uuid.json

ingress:
  - hostname: comments.loong0x00.com
    service: http://127.0.0.1:8090
    originRequest:
      connectTimeout: 5s
      httpHostHeader: comments.loong0x00.com
  - service: http_status:404
